/* styles */
body {
    background-color: #789461;
}

#title {
    font-size: 4.7rem;
    font-weight: 700;
    color: #DBE7C9;
    text-shadow: 0px 0px 15px black;
    font-family: 'Grape Nuts', cursive;
}

#calculator {
    background-color: #B6C4B6;
    width: 450px;
    height: 450px;
    border-radius: 10%;
    border: solid #50623A 7px;
    box-shadow: 13px 10px 7px;
    margin-top: 100px;
}

#shadow1 {
    box-shadow: 0px 0px 10px black;
    background-color: #191919;
}

#shadow2 {
    box-shadow: 0px 0px 10px black;
}

#font-weight {
    font-weight: 700;
    font-size: 1.3em;
    background-color: #B4B4B3;
}

.font-weight {
    font-weight: 700;
    font-size: 1.3em;
    background-color: #B4B4B3;
}

#c {
    box-shadow: 0px 0px 10px black;
    font-weight: 700;
    font-size: 1.5em;
    background-color: #B4B4B3;
}

#answer {
    font-weight: 700;
    font-size: 2em;
    color: grey;
    height: 60px;
}

#answer2 {
    font-weight: 500;
    font-size: 2em;
    color: grey;
    padding-left: 0;
}

#negative-number {
    font-weight: 750;
    font-size: 2em;
    color: grey;
}

#footer {
    font-weight: 700;
    color: #DBE7C9;
    font-family: 'Grape Nuts', cursive;
}

/* animations */
.pressed {
    background-color: #191919;
    opacity: 25%;
}

/* media queries */
@media (max-width: 992px) {
    #calculator {
        margin-top: 0px;
    }

    #footer {
        position: relative;
        margin-top: 50px;
    }
}

@media (max-width: 576px) {
    #calculator {
        width: 350px;
        height: 450px;
    }

    #title {
        font-size: 3.5rem;
    }
}
